 <style type="text/css">
      	
      	h1{
      		color:#d64c80;
      		font-family:Cooper Black;

      	}
            .fondo{
                  background-image: url('uyu2.jpg'); 
                  width: 100%;
                  height: 100vh;
                  background-size: cover;

            }
      	.osi{
      		color:#000000;
      		font-family:Elephant;
      	}
      .mimo{
      	color:#000000;
      	font-family: Cooper Black;
      }
      .main{
      	border-image: uyu3.jpg;
      	width: 100%
      	height: 100%;
      	position: absolute;
      }



      </style>
